menu "Sallow Configuration"

config WIFI_SSID
    string "WiFi SSID"
	default "myssid"
	help
		SSID (network name) for Sallow to connect to.

config WIFI_PASSWORD
    string "WiFi Password"
	default "myssid"
	help
		WiFi password (WPA, WPA2, WPA3) for Sallow to use.

		Can be left blank if the network is open.

config SERVER_URI
    string "Willow server URI"
    default "https://ainfer.tovera.io/api/sallow"
    help
        URI For your Willow instance. Supports HTTP and HTTPS.

config HOMEASSISTANT_URI
    string "HomeAssistant URI"
    default "http://192.168.0.2:8123"
    help
        URL for your Home Assistant instance.

config HOMEASSISTANT_TOKEN
    string "HomeAssistant Auth Token"
    help
        Long Lived Auth Token for Home Assistant.

config SALLOW_DEBUG_MEM
    bool "Debug Sallow memory"
    help
        Sallow will periodically print memory debugging information when set

endmenu
