menu "Sallow Configuration"

config WIFI_SSID
    string "WiFi SSID"
	default "myssid"
	help
		SSID (network name) for Sallow to connect to.

config WIFI_PASSWORD
    string "WiFi Password"
	default "myssid"
	help
		WiFi password (WPA, WPA2, WPA3) for Sallow to use.

		Can be left blank if the network is open.

config SERVER_URI
    string "Willow server URI"
    default "https://infer.tovera.io/api/sallow"
    help
        URI For your Willow instance. Supports HTTP and HTTPS.

config HOMEASSISTANT_URI
    string "HomeAssistant URI"
    default "http://homeassistant.local:8123/api/conversation/process"
    help
        URL for your Home Assistant instance.

config HOMEASSISTANT_TOKEN
    string "HomeAssistant Auth Token"
    help
        Long Lived Auth Token for Home Assistant.

config SALLOW_TIMEZONE
    string "Timezone"
    default "UTC+5"
    help
        Sallow device timezone

config SALLOW_VOLUME
    int "Speaker volume"
    default 60
    help
        Audio level for playback

config SALLOW_LCD_BRIGHTNESS
    int "LCD Brightness"
    default 700
    help
        LCD Brightness from 0-1023

config SALLOW_NTP_HOST
    string "Sallow NTP host"
    default "pool.ntp.org"
    help
        NTP host for obtaining system time

config SALLOW_NTP_USE_DHCP
    bool "Use NTP server provided by DHCP"
    help
        Override NTP server with host provided via DHCP

config SALLOW_DEBUG_MEM
    bool "Debug Sallow memory"
    help
        Sallow will periodically print memory debugging information when set

config SALLOW_DEBUG_TASKS
    bool "Debug Sallow tasks"
    depends on FREERTOS_USE_STATS_FORMATTING_FUNCTIONS
    help
        Sallow will periodically print task list when enabled
endmenu
